footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100px;
}

footer span {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, .6);
}

footer span a {
    color: rgba(0, 0, 0, .6);

    transition: 0.1s;
}

footer span a:hover {
    color: rgba(0, 0, 0, .8);

    transition: 0.1s;
}

@media screen and (max-width: 576px) {

}

@media screen and (min-width: 576px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

}

@media screen and (min-width: 1400px) {
    
}